{{> base}}
<script defer src="/dist/bundle.js"></script>
<div class="container">
  <h1>welcome to room: {{ roomname }}</h1><span id='users-online'>users online: </span>
  <hr>
  <br>
  <div class="grid">
    <div class="cell -7of12">
      <!--<iframe id="yt_player" enablejsapi="true" height="300px" width="100%" src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1"
      frameborder="0"></iframe>-->
      <div id="player"></div>
    </div>
    <div class="cell chat -5of12">
      chat here
    </div>
  </div>
  <br>
  <div class="grid">
    <div class="cell -7of12">
      <input type="text" name="url" class="url-input form-control" placeholder="youtube url...">
    </div>
    <div class="cell -5of12">
      <button type="button" class="btn btn-primary btn-block send">add to queue</button>
    </div>
  </div>
  <div class="grid error-grid">
  </div>
</div>
<script>
  var tag = document.createElement('script')
  tag.id = 'iframeYT'
  tag.src = 'https://www.youtube.com/iframe_api'
  var firstScriptTag = document.getElementsByTagName('script')[0]
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
</script>

