{{> base}}
<script defer src="/dist/bundle.js"></script>
<div class="container">
  <h1>welcome to room: {{ roomname }}</h1><span id='users-online'>users online: </span>
  <hr>
  <br>
  <div class="grid">
    <div class="cell -7of12">
      <iframe height="300px" width="100%" src="https://www.youtube.com/embed/mj-v6zCnEaw" frameborder="0"></iframe>
    </div>
    <div class="cell chat -5of12">
      chat here
    </div>
  </div>
  <br>
  <div class="grid">
    <div class="cell -7of12">
      <input type="text" name="url" class="url-input form-control" placeholder="youtube url...">
    </div>
    <div class="cell -5of12">
      <button type="button" class="btn btn-primary btn-block">add to queue</button>
    </div>
  </div>
</div>